<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>
    <%- include("../include/header") %>

    <div class="sub-container">
        <ul class="tabs sub">
            <li onclick="location.href='/manage/mainpage/main'">메인 설정</li>
            <li onclick="location.href='/manage/mainpage/rolling-banner'">롤링 배너</li>
            <li onclick="location.href='/manage/mainpage/program&goods'">프로그램 및 굿즈</li>
            <li onclick="location.href='/manage/mainpage/youtube&column'">유튜브 및 칼럼</li>
            <li onclick="location.href='/manage/mainpage/notice&newsletter'">공지 및 뉴스</li>
            <li onclick="location.href='/manage/mainpage/rolling-review'" class="current">롤링 리뷰</li>
        </ul>

        <div class="contents-container">

            <p class="contents-title underline marB-20 body3">굿즈 등록</p>

            <div class="input-container">

                <div class="input-item">
                    <div class="custom-select small">
                        <select>
                            <option value="none">게시일자</option>
                            <option value="all">전체</option>
                            <option value="youtube">판매중인 상품</option>
                            <option value="program">품절된 상품</option>
                        </select>
                    </div>
                </div>

                <div class="input-item">
                    <div class="custom-select large">
                        <select>
                            <option value="none">타이틀</option>
                            <option value="all">전체</option>
                            <option value="youtube">판매중인 상품</option>
                            <option value="program">품절된 상품</option>
                        </select>
                    </div>
                </div>

                <button class="solid-btn green">추가버튼</button>
            
            </div>
        </div>
    </div>



    <%- include("../include/footer") %>
</body>

<script>
    function addContent(url) {
        location.replace(url);
    };

    document.getElementById("files").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>

</html>