<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>
    <%- include("../include/header") %>

    <div class="sub-container">
        <ul class="tabs sub">
            <li class="current" data-tab="tab1">메인 설정</li>
            <li data-tab="tab2">롤링 배너 관리</li>
            <li data-tab="tab3">프로그램 및 굿즈 관리</li>
            <li data-tab="tab4">콘텐츠 관리</li>
            <li data-tab="tab5">공지 및 뉴스 관리</li>
            <li data-tab="tab6">롤링 리뷰 관리</li>
        </ul>
        <div id="tab1" class="tab-contents"></div>
        <div id="tab2" class="tab-contents"></div>
        <div id="tab3" class="tab-contents"></div>
        <div id="tab4" class="tab-contents"></div>
        <div id="tab5" class="tab-contents"></div>
        <div id="tab6" class="tab-contents"></div>
    </div>



    <%- include("../include/footer") %>
</body>

</html>