<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>
    <%- include("../include/header") %>

    <div class="sub-container">
        <ul class="tabs sub">
            <li onclick="location.href='/manage/mainpage/main'">메인 설정</li>
            <li onclick="location.href='/manage/mainpage/rolling-banner'">롤링 배너</li>
            <li onclick="location.href='/manage/mainpage/program&goods'" class="current">프로그램 및 굿즈</li>
            <li onclick="location.href='/manage/mainpage/youtube&column'">유튜브 및 칼럼</li>
            <li onclick="location.href='/manage/mainpage/notice&newsletter'">공지 및 뉴스</li>
            <li onclick="location.href='/manage/mainpage/rolling-review'">롤링 리뷰</li>
        </ul>

        <div class="contents-container">
            <div class="tab-contents">
                <p class="contents-title body3">프로그램 리스트 관리(최소 2개 등록 필수)</p>
                <ul class="table mainpage type-index">
                    <li class="row props">

                        <div class="prop">No.</div>
                        <div class="prop">이미지</div>
                        <div class="prop">카테고리</div>
                        <div class="prop small">프로그램명</div>
                        <div class="prop">코치</div>
                        <div class="prop">일자</div>
                        <div class="prop">링크</div>
                        <div class="prop">수정 및 삭제</div>
                    </li>
                    <li class="row no-data body3">등록된 회원이 없습니다</li>
                    <li class="row">
                        <div class="prop">1</div>
                        <div class="prop image"><img src="/images/gray.png" />
                        </div>
                        <div class="prop">진행중</div>
                        <div class="prop small justify-flex-start">프로그램명, 좌측정렬</div>
                        <div class="prop">김늑대</div>
                        <div class="prop justify-flex-start">일자 및 기간, 좌측정렬</div>
                        <div class="prop"><img src="/svg/link.svg" /></div>
                        <div class="prop edit-delete"><img src="/svg/edit.svg" /><img src="/svg/trash.svg" /></div>
                    </li>

                </ul>
                <div class="btn-container">

                    <button class="solid-btn green">추가</button>

                </div>
            </div>
            <div class="tab-contents">
                <p class="contents-title body3">굿즈 리스트 관리(최소 2개 등록 필수)</p>
                <ul class="table mainpage">
                    <li class="row props">

                        <div class="prop">No.</div>
                        <div class="prop">이미지</div>
                        <div class="prop">카테고리</div>
                        <div class="prop middle">제품명</div>
                        <div class="prop">가격</div>
                        <div class="prop">링크</div>
                        <div class="prop">수정 및 삭제</div>
                    </li>
                    <li class="row no-data body3">등록된 회원이 없습니다</li>
                    <li class="row">
                        <div class="prop">1</div>
                        <div class="prop image"><img src="/images/gray.png" />
                        </div>
                        <div class="prop">판매중</div>
                        <div class="prop middle justify-flex-start">운동친구 텀블러</div>
                        <div class="prop">1,000</div>
                        <div class="prop"><img src="/svg/link.svg" /></div>
                        <div class="prop edit-delete"><img src="/svg/edit.svg" /><img src="/svg/trash.svg" /></div>
                    </li>

                </ul>
                <div class="btn-container">

                    <button class="solid-btn green">추가</button>

                </div>
            </div>
        </div>
    </div>



    <%- include("../include/footer") %>
</body>

</html>