<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>
    <%- include("../include/header") %>

    <div class="sub-container">
        <ul class="tabs sub">
            <li onclick="location.href='/manage/mainpage/main'">메인 설정</li>
            <li onclick="location.href='/manage/mainpage/rolling-banner'">롤링 배너</li>
            <li onclick="location.href='/manage/mainpage/program&goods'">프로그램 및 굿즈</li>
            <li onclick="location.href='/manage/mainpage/youtube&column'">유튜브 및 칼럼</li>
            <li onclick="location.href='/manage/mainpage/notice&newsletter'">공지 및 뉴스</li>
            <li onclick="location.href='/manage/mainpage/rolling-review'" class="current">롤링 리뷰</li>
        </ul>

        <div class="contents-container">
            <div class="tab-contents">
                <ul class="table mainpage type-index">
                    <li class="row props">

                        <div class="prop">No.</div>
                        <div class="prop">카테고리</div>
                        <div class="prop">별점</div>
                        <div class="prop">작성자</div>
                        <div class="prop large">후기 내용</div>
                        <div class="prop">수정 및 삭제</div>
                    </li>
                    <li class="row no-data body3">등록된 회원이 없습니다</li>
                    <li class="row">
                        <div class="prop">1</div>
                        <div class="prop">프로그램</div>
                        <div class="prop"> <span class="review-star">
                                <img src="/svg/star.svg" alt="star">
                                <img src="/svg/star.svg" alt="star">
                                <img src="/svg/star.svg" alt="star">
                                <img src="/svg/star.svg" alt="star">
                                <img src="/svg/star.svg" alt="star">
                            </span></div>
                        <div class="prop">김*숙</div>
                        <div class="prop large justify-flex-start">후기 내용</div>
                        <div class="prop edit-delete"><img src="/svg/edit.svg" /><img src="/svg/trash.svg" /></div>
                    </li>

                </ul>

                <div class="btn-container">

                    <button class="solid-btn green">리뷰 등록</button>

                </div>
            </div>
        </div>
    </div>



    <%- include("../include/footer") %>
</body>

</html>