<div id="tab2" class="tab-contents">
    <ul class="table mainpage">
        <li class="row props">

            <div class="prop index">No.</div>
            <div class="prop">이미지</div>
            <div class="prop">카테고리</div>
            <div class="prop">타이틀</div>
            <div class="prop">이메일</div>
            <div class="prop">연락처</div>
            <div class="prop">가입일</div>
        </li>
        <li class="row no-data body3">등록된 회원이 없습니다</li>
        <li class="row">
            <div class="prop index">1</div>
            <div class="prop">abc123</div>
            <div class="prop">가나다</div>
            <div class="prop">1,000</div>
            <div class="prop">gymbuddy@gmail.com</div>
            <div class="prop">010 1234 5678</div>
            <div class="prop">2020-10-11</div>
        </li>

    </ul>
    <div class="btn-container">
        <div class="checked-info body3 marR-30"><span class="number">0</span><span>명 선택됨</span></div>
        <button class="solid-btn green">회원 유형 변경</button>
        <button class="solid-btn red">회원 삭제</button>
    </div>
</div>