<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <ul class="tabs sub">
        <li data-tab="tab1" class="current">프로그램</li>
        <li data-tab="tab2">프로그램</li>
        <li data-tab="tab3">굿즈</li>
        <li data-tab="tab4">굿즈</li>
    </ul>

    <%- include("../include/footer") %>
</body>

</html>