:root{
  /* color */
  --color-primary-green: #00AD84;
  --color-primary-red: #FF585D;

}

/* margin */
.marB-10 {
    margin-bottom: 10px;
  }
  .marB-15 {
    margin-bottom: 15px;
  }
  .marB-20 {
    margin-bottom: 20px;
  }
  .marB-30 {
    margin-bottom: 30px;
  }
  .marB-40 {
    margin-bottom: 40px;
  }
  
  .marR-10 {
    margin-right: 10px;
  }
  .marR-15 {
    margin-right: 15px;
  }
  .marR-20 {
    margin-right: 20px;
  }
  .marR-30 {
    margin-right: 30px;
  }
  .marR-40 {
    margin-right: 40px;
  }
  /* flex  */
  .flex {
    display: flex;
    justify-content: space-between;
  }
  /* float */
  .float-right {
    float: right;
  }
  
  
  /* color */
  .gray {
    color: #bebebe;
  }
  .current{
    color: var(--color-primary-green);
  }
  
  .green{
    background-color: var(--color-primary-green);
  }

  .red{
    background-color: var(--color-primary-red);
  }