/* nav categories */

.category{
    cursor: pointer;
}

.category:active{
    color: var(--color-primary-green);;
}

/* button */
.solid-btn{
    font-family: "Noto Sans KR",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 3.5px 12px;
    border-radius: 4px;
    display: inline-block;
}

.solid-btn.disable{
    color: #FFFFFF;
    background: #E6E6E6;
}

.solid-btn.darkgray {
	background:#646464;
}

.solid-btn.darkgray:hover{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #666;
}
.solid-btn.green {
	background:#00AD84;
}

.solid-btn.green:hover {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00AD84;
}

.outlined-btn{
    width: 120px;
    height: 40px;
    color: var(--color-primary-green);
    background: none;
    padding:5.5px 12px;
    border: 2px solid var(--color-primary-green);;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Noto Sans KR",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    
}
.outlined-btn:after{
    content:'';
 	position:absolute;
 	background-color: transparent;
    border-right: 3px solid #00AD84;
    border-top: 3px solid #00AD84;
    height: 6px;
    transform: translateX(-25%) rotate(45deg);
    width: 6px;
    top: 15px; 
    right: 15px; 

}
.outlined-btn:hover {
	background: #00AD84;
	color: white; 
    cursor: pointer;
}

.outlined-btn:hover:after {
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
}

.outlined-btn img{
    vertical-align: 0;
}


/* checkbox */

.checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}
.checkbox + label{
    position: relative;
    padding-left: 26px;

}

.checkbox + label:before,.checkbox + label:after{
    box-sizing: content-box;
    position: absolute;
    content: '';
    display: block;
    left: 0;
}
.checkbox + label:before{
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-top: -12px;
    border: 2px solid #d9d9d9;
    text-align: center;
}


.checkbox:checked + label:before {
    border-color : #00AD84;
    background-color: #00AD84;
}
.checkbox + label:after{
    background-color: transparent;
    top: 50%;
    left: 6px;
    width: 10px;
    height: 4px;
    margin-top: -5px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

  .checkbox:checked + label:after {
    content: '';
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -moz-transition: -moz-transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
  }


  /* review star */
.review-star{
    display: block;
    text-align: center;
}