/* nav categories */

.category{
    cursor: pointer;
}

.category:active{
    color: var(--color-primary-green);;
}

/* button */
.solid-btn{
    font-family: "Noto Sans KR",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 3.5px 12px;
    border-radius: 4px;
}

.solid-btn.disable{
    color: #FFFFFF;
    background: #E6E6E6;
}
.outlined-btn{
    width: 120px;
    height: 40px;
    color: var(--color-primary-green);
    background: none;
    padding:5.5px 12px;
    border: 2px solid var(--color-primary-green);;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Noto Sans KR",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    
}
.outlined-btn:hover{
    cursor: pointer;
}
.outlined-btn img{
    vertical-align: 0;
}
