/* header */

header{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:223px;
    text-align: center;
    border-right:2px solid #000000;
    box-sizing: border-box;
    padding-bottom: 40px;
    z-index: 1000;
}

header .home-logo{
    height: 85px;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .header-sub{
    height: calc(100% - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .tabs {

    padding-top: 40px;
}

header .tabs li{
    margin-bottom: 20px;
}

/* sub-tabs */
.tabs.sub{
    display: flex;
    height:85px;
    align-items: flex-end;

}

.tabs.sub li{  
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #AAAAAA;
    box-sizing: border-box;
}

.tabs.sub li.current{
    color: #00AD84;
    border-bottom: 3px solid var(--color-primary-green);;
}

/* li for list */
.tabs li, .table .prop{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.6px;
}
.tabs li:hover{
    cursor: pointer;
}

/* sub-container */
.sub-container{
    margin-left:223px;
    padding: 0 122px 30px 20px;
}

/* contents-container */
.contents-container{
    padding-top:40px;
}

.contents-title{
    padding-left: 20px;
}

.contents-title.underline {
    padding-bottom: 20px; 
    border-bottom: 1px solid #e6e6e6;
}
/* tab-contents */
.tab-contents{
    margin-bottom: 40px;
}


/* table */

.table .row{
    display: flex;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0;

}

.table .prop{
    width:100px;
    margin-right: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table .row.props .prop{
    font-weight: bold;
    font-size: 16px;
}

.row.no-data{
    text-align: center;
    font-weight: normal;
    display: none;
}

.prop.image{
    height: 60px;
}
.prop.edit-delete img:nth-child(1){
    margin-right: 10px;
}
/* table depending on type   */
.table.type-check .prop:first-child{
    margin-right:0;
}

.table.type-index .prop:first-child{
    padding-left: 20px;
    width:30px !important;
}

/* table member */
.table.member .prop:nth-child(6){
    width:261px;
}


/*  table mainpage */

.table.mainpage .prop.largest{
    width: 725px;

}

.table.mainpage .prop.large{
    width: 485px;

}
.table.mainpage .prop.middle{
    width: 365px;

}
.table.mainpage .prop.small{
    width: 245px;

}
.table.mainpage .prop:last-child{
    justify-content: flex-end;
}
/* table board */
.table.board .prop.largest{
    width: 725px;
}

.table.board .prop.larger{
    width: 485px;
}
.table.board .prop.large{
    width: 385px;
}
.table.board .prop.middle{
    width: 265px;
}
.table.board .prop.small{
    width: 200px;
}

/* btn-container */
.btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0;
}

.btn-container button{
    margin-right: 10px;
}
.btn-container button:last-child{
    margin-right:0;
}