/* header */

header{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:223px;
    text-align: center;
    border-right:2px solid #000000;
    box-sizing: border-box;
    padding-bottom: 40px;
    z-index: 1000;
}

header .home-logo{
    height: 85px;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .tabs {
    padding-top: 40px;
}

header .tabs li{
    margin-bottom: 20px;
}

/* sub-tabs */
.tabs.sub{

    display: flex;
    height:85px;
    align-items: flex-end;
    padding-left:20px;

}

.tabs.sub li{  
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #AAAAAA;
    box-sizing: border-box;
}

.tabs.sub li.current{
    color: #00AD84;
    border-bottom: 3px solid #00AD84;
}

/* li for list */
.tabs li, .table .prop{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.6px;
}

/* sub-container */
.sub-container{
    margin-left:223px;
}

/* contents-container */
.contents-container{
    padding: 40px 122px 0 20px;
}

/* table */
.table .row{
    display: flex;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0;

}

.table .prop{
    width:102px;
    margin-right: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}
.table .row.props .prop{
    font-weight: bold;
    font-size: 16px;
}

.table .prop:nth-child(6){
    width:223px;
}

.row.no-data{
    justify-content: center;
    font-weight: normal;
    display: none;
}