<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <div class="sub-container">
        <ul class="tabs sub">
            <li onclick="location.href='/manage/member/total'">전체 회원</li>
            <li onclick="location.href='/manage/member/normal'">일반 회원</li>
            <li onclick="location.href='/manage/member/active'">열심 회원</li>
            <li onclick="location.href='/manage/member/male'">남자 회원</li>
            <li onclick="location.href='/manage/member/blackList'">블랙 리스트</li>
            <li onclick="location.href='/manage/member/manager'" class="current">관리자</li>
        </ul>
        <div class="contents-container">

        </div>


    </div>


    <%- include("../include/footer") %>

</body>

</html>