<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <div class="sub-container">
        <ul class="tabs sub">
            <li class="current" data-type="tap1">전체 회원</li>
            <li data-type="tap2">일반 회원</li>
            <li data-type="tap3">열심 회원</li>
            <li data-type="tap4">블랙 리스트</li>
        </ul>
        <div class="contents-container">
            <div id="tap1" class="tab-contents">
                <ul class="table">
                    <li class="row props">
                        <div class="prop"><input type="checkbox" name="member" id="select-all"></div>
                        <div class="prop">회원 유형</div>
                        <div class="prop">아이디</div>
                        <div class="prop">이름</div>
                        <div class="prop">누적 구매 금액</div>
                        <div class="prop">이메일</div>
                        <div class="prop">연락처</div>
                        <div class="prop">가입일</div>
                    </li>
                    <li class="row no-data body3">등록된 회원이 없습니다</li>
                    <li class="row">
                        <div class="prop"><input type="checkbox" name="member" id="id1" value="id1"></div>
                        <div class="prop">일반</div>
                        <div class="prop">abc123</div>
                        <div class="prop">가나다</div>
                        <div class="prop">1,000</div>
                        <div class="prop">gymbuddy@gmail.com</div>
                        <div class="prop">010 1234 5678</div>
                        <div class="prop">2020-10-11</div>
                    </li>
                </ul>
            </div>
            <div id="tap2" class="tab-contents"></div>
            <div id="tap3" class="tab-contents"></div>
            <div id="tap4" class="tab-contents"></div>
        </div>
    </div>


    <%- include("../include/footer") %>
</body>

</html>