<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <ul class="sub-tabs">
        <li class="current" data-type="tap1">전체 회원</li>
        <li data-type="tap2">일반 회원</li>
        <li data-type="tap3">열심 회원</li>
        <li data-type="tap4">블랙 리스트</li>
    </ul>

    <%- include("../include/footer") %>
</body>

</html>