<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <ul class="sub-tabs">
        <li class="current" data-tab="tab1">뉴스 레터</li>
        <li data-tab="tab2">뉴스 레터</li>
        <li data-tab="tab3">뉴스 레터</li>
        <li data-tab="tab4">뉴스 레터</li>
    </ul>

    <%- include("../include/footer") %>
</body>

</html>