<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <ul class="tabs sub">
        <li data-tab="data-tab1" class="current">공지 및 대외소식</li>
        <li data-tab="data-tab2">소개 및 멤버</li>
        <li data-tab="data-tab3">유튜브</li>
        <li data-tab="data-tab4">칼럼</li>
        <li data-tab="data-tab5">FAQ</li>
        <li data-tab="data-tab6">약관 관리</li>
    </ul>
    <div class="sub-container">
        <div id="tab1"></div>
        <div id="tab2"></div>
        <div id="tab3"></div>
        <div id="tab4"></div>
        <div id="tab5"></div>
        <div id="tab6"></div>
    </div>

    <%- include("../include/footer") %>
</body>

</html>